@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #06283D; /* Dark blue from your palette */
    color: #FEF5AC; /* Optional: Set default text color for contrast */
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif; /* Or any font family you prefer */
  }

  